<header class="main-header">
    <div class="header-container">
        <a routerLink="/" class="logo">AngularStore</a>

        <nav class="nav-links">
            <ul>
                <li>
                    <a routerLink="/" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">Trang
                        chủ</a>
                </li>
                <li>
                    <a routerLink="/products" routerLinkActive="active-link">Sản phẩm</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
